.pl {
    padding-left: 18px;
    margin: 15px 0;
}

ul {
    padding: 0;
}
.footer{
    background: #eaeaea;
}

li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #757575;
}
.mb-10 {
    margin-bottom: 10px 0;
}

.widget-title {
    color: #fff!important;
    width: 90%;
    margin: 5px auto;
    font-weight: 400;
    background-color: black;
    border-color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(120,200,230,.5) inset, 0 1px 0 rgba(0,0,0,.15);
    box-sizing: border-box;
    clear: both;
    padding: 7px;
}

nav img {
    border-radius: 10px;
    background: white;
}

.company-name {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #757575;
    font-style: italic;
}

span {
    color: #9be1f2
}

.logo img {
    width: auto;
    height: 6vw;
}